.mainDiv {

    width: 80vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    min-height: 100vh;
    background-color: white;
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.1), 8px 0 8px rgba(0, 0, 0, 0.1);

    .messageBox {

        margin: 0.5%;
        border: 1px solid rgba(0, 0, 0, 0.174);
        background-color: white;

        .message {

            margin: 1%;
            text-align: center;
            color: #000000;
        }

    }

    .loginBox {

        border: 1px solid rgba(0, 0, 0, 0.174);
        padding: 2%;
        margin: 0.5%;
        text-align: center;
        align-items: center;
        background-color: white;
        gap: 5px;

        .icon{
            width: 5%;
            height: 3%;
            color: #000000;
        }

        .bankingName {

            font-weight: normal;
            font-size: 25px;
            color: #000000;

        }

        .box {
            margin: 0 auto;
            text-align: center;

            .loginBTN {

                background-color: #000000;
                color: white;
                width: 10%;
                height: 30px;
                text-decoration: none;
                border-radius: 0px;

            }

        }

        .inlineLink {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                color: #000000;
                margin: 2%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 15px;
            }

            .iconInline{
                color: #000000;
            }

        }

        p{
            color: #000000; 
        }

    }

    .infoScroll {

        background-color: #000000;
        color: rgb(255, 255, 255);
        height: 21px;
        font-size: 13px;
        padding-top: 6px;

    }

    .footer {
      
        a {
          text-decoration: none;
          color: #000000;
        }
      
        .footerLink {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      
        td {
          padding: 10px;
        }

        background-color: white;

    }

    .loginBTN {

        background-color: black;
        color: white;
        width: 40%;
        height: 30px;
        text-decoration: none;

    }

    .overlay {

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;

    }

    .overlay:target {

        visibility: visible;
        opacity: 1;

    }

    .popup {

        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
        text-align: center;

    }

    .popup h2 {

        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;

    }

    .popup .close {

        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;

    }

    .popup .close:hover {

        color: #7d7d7d;

    }

    .popup .content {

        max-height: 30%;
        overflow: auto;

    }

    @media screen and (max-width: 700px) {

        .box {
            width: 70%;
        }

        .popup {
            width: 70%;
        }

    }

}